<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${@environment.getProperty('celix.title.form.proveedor')}"></title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<header th:insert="fragments/menu :: menu-principal"></header>
	<br>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header" th:text="${@environment.getProperty('celix.title.form.proveedor')}"></div>
			<div class="card-body">
				<a class="btn btn-light" th:href="@{/proveedor/create}" role="button"><i class="fas fa-plus-square"></i> Nuevo</a>
                <hr>
                <div th:if="${message != null}" class='alert alert-success'role='alert' th:text="${message}"></div>
				<table class="table">
  					<thead class="thead-dark">
					    <tr>
					      <th scope="col"  th:text="${@environment.getProperty('celix.title.id')}"></th>
					      <th scope="col"  th:text="${@environment.getProperty('celix.title.nombre')}"></th>
					      <th scope="col"  th:text="${@environment.getProperty('celix.title.direccion')}"></th>
					      <th scope="col"  th:text="${@environment.getProperty('celix.title.telefono.fijo')}"></th>
					      <th scope="col"  th:text="${@environment.getProperty('celix.title.correo.electronico')}"></th>
					      <th scope="col"  th:text="${@environment.getProperty('celix.title.sitio.web')}"></th>
					      <th scope="col"  th:text="${@environment.getProperty('celix.title.rfc')}"></th>
					      <th scope="col"  th:text="${@environment.getProperty('celix.title.razon.social')}"></th>
					      <th scope="col"  th:text="${@environment.getProperty('celix.title.editar')}"></th>
					      <th scope="col"  th:text="${@environment.getProperty('celix.title.eliminar')}"></th>
					    </tr>
  					</thead>
  					<tbody>
					    <tr th:each="proveedor : ${proveedores}">
					      <th scope="row" th:text="${proveedor.id}"></th>
					      <td th:text="${proveedor.nombre}"></td>
					      <td th:text="${proveedor.direccion}"></td>
					      <td th:text="${proveedor.telefono}"></td>
					      <td th:text="${proveedor.correoElectronico}"></td>
					      <td th:text="${proveedor.sitioWeb}"></td>
					      <td th:text="${proveedor.rfc}"></td>
					      <td th:text="${proveedor.razonSocial}"></td>
					      <td>
					      	<a th:href="@{/proveedor/edit/{id}(id=${proveedor.id})}" class="btn btn-light" role="button" title="Editar"><i class="fas fa-edit"></i></a>
					      </td>
					      <td>
					      	<a th:href="@{/proveedor/delete/{id}(id=${proveedor.id})}" onclick="return confirm('¿Estas seguro?')" class="btn btn-light" role="button" title="Eliminar el registro."><i class="fas fa-trash"></i></a> 
					      </td>
					    </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script th:src="@{/jquery/jquery-3.5.1.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script src="https://kit.fontawesome.com/33cdef5f0d.js" crossorigin="anonymous"></script>
</body>
</html>