<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="es">
<head>
<meta charset="UTF-8">
<title th:text="#{celix.title.form.producto}"></title>
 <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<header th:insert="fragments/menu :: menu-principal"></header>
	<br>
	<div class="container">
		<div class="card">
			<div class="card-header" th:text="#{celix.title.form.producto}"></div>
			<div class="card-body">
				<form th:action="@{/producto/save}" method="post" th:object="${producto}" th:id="createProducto" th:name="createProducto">
					<input type="hidden" class="form-control" id="id" name="id" th:field="*{id}">
					<div class="form-group row">
    					<label for="nombre" class="col-sm-3 col-form-label" th:text="#{celix.title.nombre}"></label>
    					<div class="col-sm-9">
      						<input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" placeholder="Ingresa el nombre del producto">
    					</div>
  					</div>
  					<div class="form-group row">
    					<label for="descripcion" class="col-sm-3 col-form-label" th:text="#{celix.title.descripcion}"></label>
    					<div class="col-sm-9">
      						<input type="text" class="form-control" id="descripcion" name="descripcion" th:field="*{descripcion}" placeholder="Ingresa la descripción del producto">
    					</div>
  					</div>
  					<div class="form-group row">
  						<label  class="col-sm-3 col-form-label" th:text="#{celix.title.tipo.producto}"></label>
	  					<div class="col-sm-9">
		  					<select id="selecttipoproducto" name="selecttipoproducto" th:field="*{idTipoProducto}" class="form-control">
		        				<option th:value="0" selected th:text="#{celix.title.escoge.opcion}"></option>
		        				<option th:each="tipoProducto :${ tiposProducto }" th:value="${tipoProducto.id}" th:text="${tipoProducto.descripcion}"></option>
		      				</select>
	      				</div>
  					</div>
  					<div class="form-group row">
  						<label for="selectMarca" class="col-sm-3 col-form-label" th:text="#{celix.title.marca}"></label>
	  					<div class="col-sm-9">
		  					<select id="selectMarca" name="selectMarca" th:field="*{idMarca}" class="form-control">
		        				<option th:value="0" th:text="#{celix.title.escoge.opcion}" selected></option>
		        				<option th:each="marca :${ marcas }" th:value="${marca.id}" th:text="${marca.descripcion}"></option>
		      				</select>
	      				</div>
  					</div>
  					<div class="form-group row">
  						<label for="selectProveedor" class="col-sm-3 col-form-label" th:text="#{celix.title.proveedor}"></label>
	  					<div class="col-sm-9">
		  					<select id="selectProveedor" name="selectProveedor" th:field="*{idProveedor}" class="form-control">
		        				<option th:value="0" th:text="#{celix.title.escoge.opcion}" selected></option>
		        				<option th:each="proveedor :${ proveedores }" th:value="${proveedor.id}" th:text="${proveedor.nombre}"></option>
		      				</select>
	      				</div>
  					</div>
  					<div class="form-group row">
    					<label for="codigoDeBarrasTienda" class="col-sm-3 col-form-label" th:text="#{celix.title.codigo.barras.tienda}"></label>
    					<div class="col-sm-9">
      						<input type="text" class="form-control" id="codigoBarrasTienda" name="codigoBarrasTienda" th:field="*{codigoBarrasTienda}" placeholder="Ingresa el código de barras que ha agregado la tienda al producto">
    					</div>
  					</div>
  					<div class="form-group row">
    					<label for="codigoDeBarrasMarca" class="col-sm-3 col-form-label" th:text="#{celix.title.codigo.barras.marca}"></label>
    					<div class="col-sm-9">
      						<input type="text" class="form-control" id="codigoBarrasMarca" name="codigoBarrasMarca" th:field="*{codigoBarrasMarca}" placeholder="Ingresa el código de barras del producto">
    					</div>
  					</div>
  					<div class="form-group row">
    					<label for="precioCompraConIVA" class="col-sm-3 col-form-label" th:text="#{celix.title.precio.compra.iva.pregunta}"></label>
    					<div class="col-sm-9" style="padding-left:37px;">
      						<input type="checkbox" class="form-check-input" id="precioCompraConIVA" name="precioCompraConIVA" th:field="*{precioCompraConIVA}" onclick="changeStatusPrecioCompraConIVA();">
    					</div>
  					</div>
  					<div class="form-group row">
    					<label for="precioCompra" class="col-sm-3 col-form-label" th:text="#{celix.title.precio.compra}"></label>
    					<div class="col-sm-9">
      						<input type="text" class="form-control" id="precioCompra" name="precioCompra" th:field="*{precioCompra}" placeholder="Ingresa el precio de compra">
    					</div>
  					</div>
  					<div class="form-group row">
    					<label for="precioCompraIVA" class="col-sm-3 col-form-label" th:text="#{celix.title.precio.compra.iva}"></label>
    					<div class="col-sm-9">
      						<input type="text" class="form-control" id="precioCompraIVA" name="precioCompraIVA" th:field="*{precioCompraIVA}" placeholder="Ingresa el precio de compra con IVA">
    					</div>
  					</div>
  					<div class="form-group row">
    					<label for="precioVenta" class="col-sm-3 col-form-label" th:text="#{celix.title.precio.venta}"></label>
    					<div class="col-sm-9">
      						<input type="text" class="form-control" id="precioVenta" name="precioVenta" th:field="*{precioVenta}" placeholder="Ingresa el precio de venta">
    					</div>
  					</div>
  					<div class="form-group row">
    					<div class="col-sm-12">
      						<button type="submit" class="btn btn-light float-right"><i class="fas fa-save"></i> Guardar</button>
    					</div>
  					</div>
				</form>
			</div>
		</div>
	</div>
	<script th:src="@{/jquery/jquery-3.5.1.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script src="https://kit.fontawesome.com/33cdef5f0d.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/producto/createProducto.js}"></script>
	<script th:src="@{/jquery-validation-1.19.3/lib/jquery-1.11.1.js}"></script>
	<script th:src="@{/jquery-validation-1.19.3/dist/jquery.validate.js}"></script>
	<script th:src="@{/jquery-validation-1.19.3/dist/additional-methods.js}"></script>
</body>
</html>