<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
	<meta charset="UTF-8">
	<title th:text="#{celix.title.form.producto}"></title>
	<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/DataTables/datatables.min.css}"/><!-- datatable -->
</head>
<body>
	<header th:insert="fragments/menu :: menu-principal"></header>
	<br>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header" th:text="#{celix.title.form.producto}"></div>
			<div class="card-body">
				<a class="btn btn-light" th:href="@{/producto/create}" role="button"><i class="fas fa-plus-square"></i> Nuevo</a>
                <hr>
                <div th:if="${message != null}" class='alert alert-success'role='alert'   th:text="${message}"></div>
				<table id="table_producto" class="table">
  					<thead class="thead-dark">
					    <tr>
					      <th scope="col"  th:text="#{celix.title.id}"></th>
					      <th scope="col"  th:text="#{celix.title.nombre}"></th>
					      <th scope="col"  th:text="#{celix.title.descripcion}"></th>
					      <th scope="col"  th:text="#{celix.title.tipo.producto}"></th>
					      <th scope="col"  th:text="#{celix.title.precio.compra}"></th>
					      <th scope="col"  th:text="#{celix.title.precio.compra.iva}"></th>
					      <th scope="col"  th:text="#{celix.title.precio.venta}"></th>
					      <th scope="col"  th:text="#{celix.title.codigo.barras.tienda}"></th>
					      <th scope="col"  th:text="#{celix.title.codigo.barras.marca}"></th>
					      <th scope="col"  th:text="#{celix.title.proveedor}"></th>
					      <th scope="col"  th:text="#{celix.title.marca}"></th>
					      <th scope="col"  th:text="#{celix.title.editar}"></th>
					      <th scope="col"  th:text="#{celix.title.eliminar}"></th>
					    </tr>
  					</thead>
  					<tbody>
					    <tr th:each="producto : ${productos}">
					      <th scope="row" th:text="${producto.id}"></th>
					      <td th:text="${producto.nombre}"></td>
					      <td th:text="${producto.descripcion}"></td>
					      <td th:text="${producto.descTipoProducto}"></td>
					      <td th:text="${producto.precioCompra}"></td>
					       <td th:text="${producto.precioCompraIVA}"></td>
					      <td th:text="${producto.precioVenta}"></td>
					      <td th:text="${producto.codigoBarrasTienda}"></td>
					      <td th:text="${producto.codigoBarrasMarca}"></td>
					      <td th:text="${producto.nombreProveedor}"></td>
					      <td th:text="${producto.descMarca}"></td>
					      <td>
					      	<a th:href="@{/producto/edit/{id}(id=${producto.id})}" class="btn btn-light" role="button" title="Editar"><i class="fas fa-edit"></i></a>
					      </td>
					      <td>
					      	<a th:href="@{/producto/delete/{id}(id=${producto.id})}" onclick="return confirm('¿Estas seguro?')" class="btn btn-light" role="button" title="Eliminar el registro."><i class="fas fa-trash"></i></a>
					      </td>
					    	
					    </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script th:src="@{/jquery/jquery-3.5.1.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script src="https://kit.fontawesome.com/33cdef5f0d.js" crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/DataTables/datatables.min.js}"></script><!-- datatable -->
 	<script type="text/javascript" th:src="@{/js/producto/producto.js}"></script><!-- datatable -->
</body>
</html>