<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${@environment.getProperty('celix.title.form.tipo.usuario')}"></title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
	<header th:insert="fragments/menu :: menu-principal"></header>
	<br>
	<div class="container">
		<div class="card">
			<div class="card-header" th:text="${@environment.getProperty('celix.title.form.tipo.documento')}"></div>
			<div class="card-body">
				<a class="btn btn-light" th:href="@{/tipo-documento/create}" role="button"><i class="fas fa-plus-square"></i> Nuevo</a>
                <hr>
                <div th:if="${message != null}" class='alert alert-success'role='alert'   th:text="${message}"></div>
				<table class="table">
  					<thead class="thead-dark">
					    <tr>
					      <th scope="col"  th:text="${@environment.getProperty('celix.title.id')}"></th>
					      <th scope="col"  th:text="${@environment.getProperty('celix.title.descripcion')}"></th>
					      <th scope="col"  th:text="${@environment.getProperty('celix.title.editar')}"></th>
					      <th scope="col"  th:text="${@environment.getProperty('celix.title.eliminar')}"></th>
					    </tr>
  					</thead>
  					<tbody>
					    <tr th:each="tipoDocumento : ${tiposDocumento}">
					      <th scope="row" th:text="${tipoDocumento.id}"></th>
					      <td th:text="${tipoDocumento.descripcion}"></td>
					      <td>
					      	<a th:href="@{/tipo-documento/edit/{id}(id=${tipoDocumento.id})}" class="btn btn-light" role="button" title="Editar"><i class="fas fa-edit"></i></a>
					      </td>
					      <td>
					      	<a th:href="@{/tipo-documento/delete/{id}(id=${tipoDocumento.id})}" onclick="return confirm('¿Estas seguro?')" class="btn btn-light" role="button" title="Eliminar el registro."><i class="fas fa-trash"></i></a> 
					      </td>
					    </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script th:src="@{/jquery/jquery-3.5.1.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script src="https://kit.fontawesome.com/33cdef5f0d.js" crossorigin="anonymous"></script>
</body>

</html>