<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{'celix.title.form.marca'}"></title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/DataTables/datatables.min.css}"/><!-- datatable -->
</head>
<body>
	<header th:insert="fragments/menu :: menu-principal"></header>
	<br>
	<div class="container">
		<div class="card">
			<div class="card-header" th:text="#{'celix.title.form.marca'}"></div>
			<div class="card-body">
				<a class="btn btn-light" th:href="@{/marca/create}" role="button"><i class="fas fa-plus-square"></i> Nuevo</a>
                <hr>
                <div th:if="${message != null}" class='alert alert-success'role='alert'   th:text="${message}"></div>
				<table id="table_marca" class="table">
  					<thead class="thead-dark">
					    <tr>
					      <th scope="col"  th:text="#{'celix.title.id'}"></th>
					      <th scope="col"  th:text="#{'celix.title.descripcion'}"></th>
					      <th scope="col"  th:text="#{'celix.title.editar'}"></th>
					      <th scope="col"  th:text="#{'celix.title.eliminar'}"></th>
					    </tr>
  					</thead>
  					<tbody>
					    <tr th:each="marca : ${marcas}">
					      <th scope="row" th:text="${marca.id}"></th>
					      <td th:text="${marca.descripcion}"></td>
					      <td>
					      	<a th:href="@{/marca/edit/{id}(id=${marca.id})}" class="btn btn-light" role="button" title="Editar"><i class="fas fa-edit"></i></a>
					      </td>
					      <td>
					      	<a th:href="@{/marca/delete/{id}(id=${marca.id})}" onclick="return confirm('¿Estas seguro?')" class="btn btn-light" role="button" title="Eliminar el registro."><i class="fas fa-trash"></i></a> 
					      </td>
					    </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:insert="fragments/footer :: pie-pagina" class="page-footer blue">
    </footer>
	<script th:src="@{/jquery/jquery-3.5.1.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script src="https://kit.fontawesome.com/33cdef5f0d.js" crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/DataTables/datatables.min.js}"></script><!-- datatable -->
 	<script type="text/javascript" th:src="@{/js/marca/marca.js}"></script><!-- datatable -->
</body>
</html>